@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans", Serif;
  color: #E4EEF1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  background-color: #FF69B4;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.container-logo img {
  width: 5vw;
}

h1 {
  font-size: 2vw;
}

.nav-header {
  width: 40%;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
}

a:visited {
  color: white;
}

.container-introducao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  background-color: #FFD9EC;
}
.container-introducao img {
  width: 14vw;
}
.container-introducao .paragrafo-introducao {
  color: black;
  width: 51%;
}

p {
  font-size: 1.3vw;
}

.container-explicacao {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
  background-color: #FF69B4;
}
.container-explicacao p {
  width: 57%;
}
.container-explicacao img {
  width: 20vw;
}

.container-recomendacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  background-color: #FFD9EC;
}
.container-recomendacao img {
  width: 13vw;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF69B4;
  height: 11vh;
}
footer img {
  width: 4%;
}
footer ul {
  width: 20%;
}
footer li {
  font-size: 1vw;
}
footer li img {
  width: 100%;
}
footer .creditos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 10vh;
  }
  .container-logo {
    width: 100vw;
  }
  .container-logo img {
    width: 10%;
  }
  h1 {
    font-size: 5vw;
  }
  .nav-header {
    width: 100vw;
  }
  ul {
    justify-content: space-evenly;
  }
  li {
    font-size: 3vw;
  }
  .container-introducao {
    flex-direction: column-reverse;
    height: 35vh;
  }
  .container-introducao img {
    width: 35%;
  }
  .container-introducao p {
    width: 100vw;
    font-size: 72%;
    text-align: center;
  }
  .container-explicacao {
    flex-direction: column;
    height: 27vh;
  }
  .container-explicacao img {
    width: 60%;
  }
  .container-explicacao p {
    width: 100vw;
    font-size: 80%;
    text-align: center;
  }
  .container-recomendacao {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }
  .container-recomendacao li {
    display: flex;
    justify-content: center;
  }
  .container-recomendacao img {
    width: 85%;
  }
  footer {
    flex-direction: column-reverse;
    height: 35vh;
  }
  footer img {
    width: 25%;
  }
  footer ul {
    width: 100vw;
  }
  footer ul img {
    width: 65%;
  }
  footer .creditos {
    width: 100vw;
    height: 40%;
  }
  footer .creditos li {
    border: solid black;
    font-size: 3.5vw;
  }
}/*# sourceMappingURL=style.css.map */